/*------General----------*/
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  font-weight: 400;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  color: #333;
  line-height: 1.4;
  font-weight: 700;
  font-family: '', sans-serif;
}

h3 {
  font-family: 'PT Sans', sans-serif;
}

.w960 {
  max-width: 960px;
  margin: 0px auto;
}

a,a:hover {
  color: #cc580c;
  text-decoration: none;
}

img {
  max-width: 100%;
}
 

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 100vh;
  bottom: 65px;
}

.fade-carousel .carousel-inner .item {
  height: 100vh;
}

.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #CC580C;
  border-color: #CC580C;
  opacity: .8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.hero h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 50px;
  font-weight: normal;
  text-transform: uppercase;
}

.hero h3, .hero h4 {
  color: #fff;
  font-weight: 26px;
  font-weight: normal;
  text-transform: capitalize;
}

.hero hgroup img {
    margin-bottom: 20px;
    width: 150px;
    box-shadow: 5px;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: rgb(150, 50, 9);
  border-color: #963209;
  outline: none;
  padding: 12px 32px;
  margin: 20px auto;
  border-radius: 0px;
  border-bottom: 4px solid #8D2F09;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}
 
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
  background-image: url('../img/main-slider-1.jpg');
}

.fade-carousel .slides .slide-2 {
  background-image: url('../img/gallery/image1.JPG');
}

.fade-carousel .slides .slide-3 {
  background-image: url('../img/gallery/image3.JPG');
}
.fade-carousel .slides .slide-4 {
  background-image: url('../img/gallery/image9.JPG');
}

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #FFFFFF;
}

#quote-carousel .carousel-indicators .active {
  background: #F39C12;
}

#quote-carousel img {
  width: 250px;
  height: 100px;
  border: 4px solid rgba(237, 202, 24, 0.18);
}
/* End carousel */

.fa-smile-o {
  margin-left: 1rem;
  color: #4E1903;
  font-size: 2rem;
}
.box-area {
  padding: 30px;
  margin: 2% 0;
  background: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(245, 242, 242, 0.23);
}

.box-area-icon i {
  font-size: 40px;
  color: #612208;
}

/*-------Menu----------*/
.isFixed {
  left: 0px;
  width: 100%;
}

.menu {
  margin-top: 0px;
  position: absolute;
  z-index: 999;
  left: 0px;
  right: 0px;
}
.navbar {
  border-radius: 0;
}
.navwrapper .container {
  padding: 0;
  width: auto;
}

.nav>li>a {
  display: inline-block;
}

.navbar-nav>li {
  float: none;
  display: inline-block;
  padding: 0;
}

.navbar-nav {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.navbar-toggle {
  margin-top: 14px;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: rgb(115, 55, 3);
  color: #FFFFFF;
}

.nav>li>a {
  display: inline-block;
  color: #C5C1C1;
  padding: 22px 15px;
  font-size: 17px;
  font-weight: 500;
  font-family: 'PT Sans', sans-serif;
} 
.navbar-wrapper {
  margin-top: 0px;
  height: 65px;
  position: relative;
  z-index: 15;
}

.navbar-wrapper .container {
  padding: 0px;
}

.navbar-collapse {
  padding: 0;
}

.navbar-collapse.in {
  max-height: 100%;
}

.navbar.navbar-inverse.navbar-static-top {
  margin: 0px auto;
  background: none;
  color: #c3c8d6;
  border: none;
  font-family: 'PT Sans',sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar.navbar-inverse.navbar-static-top a {
  color: #fff;
  padding: 31px 16px;
  line-height: 18px;
  text-align: center;
}

.navbar.navbar-inverse.navbar-static-top a:hover {
  background: none;
  color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus {
  background: none;
  color: #fff !important;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
}

#main-nav ul.nav>li.active>a {
  color: #fff;
  background-color: rgba(205, 128, 5, 0.29);
}

.hideClass {
  display: none;
}

.isFixed .navbar-inverse .navbar-nav>.active>a,.isFixed .navbar-inverse .navbar-nav>.active>a:focus {
  background: #4E1903;
  color: #fff;
}

.isFixed .navbar.navbar-inverse.navbar-static-top a:hover {
  background: rgba(205, 128, 5, 0.37);
  color: #fff;
}

.isFixed .navbar.navbar-inverse.navbar-static-top a {
  color: #fff;
}

.stuckMenu {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: #4E1903;
}

.isFixed {
  background: #4E1903;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
} 


/*------Intro----------*/

.intro {
  font-size: 60px;
  line-height: 1.0;
  font-weight: 900;
  color: #fff;
} 
/*-----------Heading-------------*/
.heading {
  padding-bottom: 15px;
  text-align: center;
  margin: 0px auto;
}

.heading h2 {
  font-weight: 700;
  font-size: 35px;
  color: #612208;
  margin: 0;
  padding: 5px;
  text-transform: capitalize;
}

.heading h3 {
  font-size: 16px;
  line-height: 1.7;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 15px;
}

img#site-title {
  max-width: 150px;
}
.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5% 1%;
}
.meny-dowload {
  font-weight: bold;
}
.meny-dowload .fa{
  margin-right: 1rem;
}
.service .container .meny-dowload {
  font-size: 2rem;
  letter-spacing: 1px;
} 
/*------- 	Gallery Events-------------*/
/* General style */
.grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-gallery figure {
  margin: 0;
}
.grid-gallery .vertical-image {
  width: 70%;
  margin: 1px auto;
}
.grid-gallery figure img {
  display: block;
  width: 100%;
}

.grid-gallery figcaption h3 {
  margin: 0;
  padding: 0 0px 0;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
}

.grid-gallery figcaption p {
  margin: 0;
  font-size: 12px;
}
/* Grid style */
.grid-wrap {
  margin: 0 auto;
}

.grid {
  margin: 0 auto;
}

.grid li {
  width: 25%;
  float: left;
  cursor: pointer;
}

.grid figure {
  padding: 15px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.grid li:hover figure {
  opacity: 0.7;
}

.gallery .heading i {
  margin: 0 0.8rem;
}
/* Slideshow style */
.slideshow {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 0.5s,visibility 0s 0.5s;
  transition: opacity 0.5s,visibility 0s 0.5s;
}

.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slideshow ul {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,150px);
  transform: translate3d(0,0,150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.slideshow ul.animatable li {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slideshow li {
  width: 660px;
  height: auto;
  position: absolute;
  margin: -280px 0 0 -330px;
  visibility: hidden;
}

.slideshow li.show {
  visibility: visible;
}

.slideshow li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.slideshow li.current:after {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s,visibility 0s 0.3s;
  transition: opacity 0.3s,visibility 0s 0.3s;
}

.slideshow figure {
  width: 100%;
  background: #fff;
  border: 2px outset #fff;
  overflow: hidden;
}

.slideshow figcaption {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* Navigation */
.slideshow nav span {
  position: fixed;
  z-index: 1000;
  color: #fff;
  text-align: center;
  padding: 2%;
  cursor: pointer;
  font-size: 2.2em;
}

.slideshow nav span.nav-prev,.slideshow nav span.nav-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slideshow nav span.nav-next {
  right: 0;
}

.slideshow nav span.nav-close {
  top: 75px;
  right: 0px;
  padding: 10px 25px;
  color: #999;
}

.icon:before,.icon:after {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
  content: "\f104";
}

span.nav-next:before {
  content: "\f105";
}

span.nav-close:before {
  content: "\f00d";
}
/* Info on arrow key navigation */
.info-keys {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.info-keys:before,.info-keys:after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}

.info-keys:before {
  left: 10px;
  content: "\e603";
}

.info-keys:after {
  right: 10px;
  content: "\e604";
}
/*-------Opening times------*/
.shed {
  list-style: none;
  padding: 0;
}
.shed li {
  color: #fff;
  font-size: 24px;
  background-color: rgb(78, 25, 3);
  padding: 10px;
  margin-bottom: 10px;
}
.shed li span {
  display: block;
}

.time {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 3rem;
  text-transform: uppercase;
}
.time span {
  padding: 1rem;
}
/*** Contact **/
.contact-detail a {
  margin: 0 1rem;
}
.contact-detail a .fa {
  margin: 0 1rem;
}
/*----------------------------------------------------	 8. Footer Style------------------------------------------------------*/
.footer {
  background: #270B00;
  position: relative;
}

.footer .container {
  padding: 60px 0 20px;
}

.footer ul {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.footer ul li {
  display: inline-block;
  text-align: center;
  background: rgba(0,0,0,0.2);
  color: #ffffff;
  border-radius: 50%;
  margin: 0 5%;
  width: 100px;
  height: 100px;
}

.footer ul li:hover {
  background: #5A230E;
}

.footer ul li a {
  color: #fff;
  font-size: 3rem;
  line-height: 100px;
}

.footer p {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}
.footer .logo {
  max-width: 100%;
  width: 10.5%;
  margin: 0 0.5rem;
}

.gototop {
  display: inline-block;
  width: 43px;
  height: 38px;
  position: absolute;
  margin-left: -30px;
	/* top:-35px; */
  border-radius: 0;
  bottom: 14px;
  right: 0px;
}

.gototop i {
  color: #F39C12;
  line-height: 40px;
}

.footer a,.footer a:hover {
  color: #fff;
}

blockquote {
  font-weight: bold;
  margin: 0 0 0px 0;
  position: relative;
  border: 0;
  
}

.openingTime {
  background: url('../img/img3.jpg');
}

.openingTime .heading h2 {
  color: #fff;
}

.openingTime .heading h3 {
  color: #fff;
  border-bottom: 1px solid rgba(243, 156, 18, 0.25);
}

.item blockquote {
  color: #fff;
  font-size: 15px;
}

blockquote footer, blockquote small, blockquote .small {
  color: #fff;
  font-size: 14px;
}

/* Header Styles
---------------------------------*/

#header_wrapper {
  background: #0A1525;
  padding: 15px 0px;
  box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.44);
  position: relative;
}

.header_box {
  position: relative;
    /* z-index: 9999999999999999999999999999999999; */;
}

.logo a {
  float: left;
  font-size: 28px;
  line-height: 50px;
  color: #FF6C71;
}

.res-nav_click {
  display: none;
}

.page-section {
  padding: 60px 0;
}	

/**
  MEDIA QUERIES
--------------------------------*/ 
@media screen and (min-width: 980px) {
  .hero {
    width: 980px;
  }
}


@media (min-width: 991px) {
  .lu-section-title {
    font-size: 45px;
  }
}

@media screen and (max-width:960px) {
 
  .grid li {
    width: 33.3%;
  }

  .slideshow li {
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
  }

  .slideshow li figure img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  .slideshow nav span,.slideshow nav span.nav-close {
    font-size: 1.8em;
    padding: 0.3em;
  }

  .info-keys {
    display: none;
  }
}

@media screen and (min-width:768px) {
  input.contact.col-md-6 {
    width: 48.5%;
  }

  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}

@media screen and (max-width:768px) {
  
  #quote-carousel .carousel-indicators {
    bottom: -20px !important;
  }

  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }

  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
  .menu {
    display: none;
  }
  .page-section {
    padding: 2rem 0;
  }
  .service {
    display: block;
    margin: 0 1% 5%;
  }
  .hero h1 {
    font-size: 2.5em;
  }
  .shed li {
    font-size: 16px;
  }
  .contact-detail a {
    display: block;
  }
  #header .hero .btn {
    display: none;
  }
  .slideshow nav span{
    font-size: 500%;
    padding: 0.3em;
  }
  .footer .container {
    padding: 0;
  }
  .footer ul {
    margin: 0 0 1rem;
  }

  .footer ul li {
    display: inline-block;
    text-align: center;
    background: transparent;
    color: #ffffff;
    margin: 0 5%;
    width: 0;
    height: 0;
  }
  .footer ul li a {
    font-size: 2rem;
  }
}


@media screen and (max-width:560px) {
  .grid li {
    width: 50%;
  }
}

@media screen and (max-width:384px) {
  .grid li {
    width: 100%;
  }
}

