<!DOCTYPE html>
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

<meta charset="UTF-8"/>

<title>Fyret</title>

<meta name="description" content="Livlig restaurant, sentralt passert med utsikt over Youngstorvet. Serverer burgere, hjemmelaget sild, danske smørrebrød og stor akevittmeny.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="main.css">
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400, 700' rel='stylesheet' type='text/css'>
</head>
<body>
<!--wrapper start-->
<div class="wrapper">
	<!--header-->
	<header id="header">
	<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="8000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
		 			<img src="img/logo.jpg" alt="logo"/>
					<h1>Fyret mat & drikke</h1>        
          <h3>Norges første og største akevitt bar / gastro pub</h3>
        </hgroup>
        <a class="btn btn-hero btn-lg" href="#about">Om Fyret</a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
		   			<img src="img/logo.jpg" alt="logo"/>
            <h1>En liten gastro pub</h1>        
            <h3>Intimt, lunt og livlig</h3>
        </hgroup>       
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
		 				<img src="img/logo.jpg" alt="logo"/>
            <h1>Mye drikke varianter</h1>        
            <h3>Hvaler pils på fat samt diverse mikrobrygg</h3>
            <h4>Per idag 176 akevitt typer samt stort utvalg av armagnac</h4>
        </hgroup>
        <a class="btn btn-hero btn-lg" href="#gallery">Galleri</a>
      </div>
    </div>
		<div class="item slides">
			<div class="slide-4"></div>
			<div class="hero">        
				<hgroup>
					<img src="img/logo.jpg" alt="logo"/>
          <h1>Live blues musikk</h1>
          <h3>Hver siste mandag i måneden</h3>
					<h3>Oppstart kl 20.00</h3>
				</hgroup>
				<a class="btn btn-hero btn-lg" href="#contact">Kontakt Oss</a>
			</div>
		</div>
  </div> 
	<div class="menu">
		<nav class="navbar navbar-wrapper"> 
      <div class="container">
        <div id="main-nav" class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#header" class="scroll-link">Hjem</a></li>
            <li><a href="#about" class="scroll-link">Om Fyret</a></li>
            <li><a href="#gallery" class="scroll-link">Galleri</a></li>
            <li><a href="#openhours" class="scroll-link">Åpeningstid</a></li>
            <li><a href="#contact" class="scroll-link">Kontakt</a></li>
            <li><a href="img/meny.pdf" download="meny.pdf" class="meny-dowload"><i class="fa fa-download"></i>Lastned Meny</a></li>
          </ul>
        </div>
      </div>  
		</nav>
	</div>		
	</header>
	
<section class="service page-section row" id="about">
      <div class="container text-center col-md-12 col-sm-12 col-xs-12">
        <div class="heading">			
          <h2>Om Fyret</h2>			
            <h3>Fyret er en liten gastro pub på Youngstorget i Oslo, som åpnet april 1997,<br>
                og har siden den gang bare blitt mer og mer populært.</h3>
        </div>
        <div class="content">
          <p>Fyret er Norges første og største akevitt bar. Vi har også Hvaler pils 
              på fat samt diverse mikrobrygg.<br>
              Egen akevittsild, laget i samarbeid med sjefsdestillatør 
              i Arcus- Halvor Heuch, Kyvik sild i Haugesund & Køltzow.</p>
          <p>Live musikk hver siste mandag i måneden fra kl 20.00</p>
          <blockquote>Husk at din kropp er ikke bare et tempel men også en fornøylsespark!<i class="fa fa-smile-o"></i></blockquote>
        </div>
        <div class="row service">
          <div class="col-md-4 col-xs-12 box-area">
            <div class="box-area-icon">
              <i class="fa fa-users"></i>
            </div>
            <h3>Seteplass</h3>
            <div class="box-area-text">30 sitteplasser ute med nydelig utsikt over Youngstorget og 45 sitteplasser inne.</div>
          </div>
          <div class="col-md-4 col-xs-12 box-area">
            <div class="box-area-icon">
              <i class="fa fa-film"></i>
            </div>
            <h3>Burger</h3>
            <div class="box-area-text"><strong><strong>Skipperburger</strong>, Manolete burger</strong> med chorizo og manchego, <strong>Los burger</strong> med bløtstekt løk hjemmelaget gorgonzola dressing og
              <strong>Lofot burger</strong> med steinbitt og med hvalerrøre.
            </div>
          </div>
          <div class="col-md-4 col-xs-12 box-area">
            <div class="box-area-icon">
              <i class="fa fa-cubes"></i>
            </div>
            <h3>Smakfull Mat</h3>
            <div class="box-area-text">Danske smørbrød, Gascognesalat med anderbryst og Gulasjsuppe med rømmedott og persille. <br> Vi henviser til større utvalg i vår meny.</div>
          </div>
        </div>
        <a href="img/meny.pdf" download="meny.pdf" class="meny-dowload"><i class="fa fa-download"></i>Lastned Meny</a>
      </div>
    </section>
	 
	<!--gallery-->
	<section class="gallery page-section" id="gallery">
		<div class="container">
		  <div class="heading">			
		    <h2>Bilde Galleri</h2>			
		  </div> 
			<div id="grid-gallery" class="grid-gallery">

					<section class="grid-wrap">
						<ul class="grid">
							<li class="grid-sizer"></li><!-- for Masonry column width -->				
							<li>
								<figure>
									<img src="img/gallery/image1.JPG" alt=""/>
								</figure>
							</li>
							<li>
								<figure>
                  <img src="img/gallery/image2.JPG" alt=""/>
								</figure>
							</li>
							<li>
								<figure>
                  <img src="img/gallery/image3.JPG" alt=""/>
								</figure>
							</li>
							<li>
								<figure>
									<img src="img/gallery/middag-4.jpg" alt=""/>
								</figure>
							</li>
              <li>
                <figure>
                  <img src="img/gallery/image4.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image5.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image6.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image7.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/burger.jpg" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image8.jpg" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image9.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image10.jpg" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image11.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image12.JPG" alt=""/>
                </figure>
              </li>
						</ul>
					</section><!-- // end small images -->
					
					<section class="slideshow">
						<ul>
							<li>
								<figure>
                  <img src="img/gallery/image1.JPG" alt=""/>
								</figure>
							 </li>
                <li>
                  <figure>
                    <img src="img/gallery/image2.JPG" alt=""/>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="img/gallery/image3.JPG" alt=""/>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="img/gallery/middag-4.jpg" alt=""/>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="img/gallery/image4.JPG" alt=""/>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="img/gallery/image5.JPG" alt=""/>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="img/gallery/image6.JPG" alt=""/>
                  </figure>
                </li>
              <li>
                <figure>
                  <img src="img/gallery/image7.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/burger.jpg" alt=""/>
                </figure>
              </li>
              <li>
                <figure class="vertical-image">
                  <img src="img/gallery/image8.jpg" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image9.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure class="vertical-image">
                  <img src="img/gallery/image10.jpg" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image11.JPG" alt=""/>
                </figure>
              </li>
              <li>
                <figure>
                  <img src="img/gallery/image12.JPG" alt=""/>
                </figure>
              </li>
						  </ul>
						<nav>
							<span class="icon nav-prev"></span>
							<span class="icon nav-next"></span>
							<span class="icon nav-close"></span>
						</nav>
						 
					</section><!-- // end slideshow -->
					
				</div><!-- // grid-gallery -->
			</div>
	</section>
	
	<section class="feedback page-section" id="openhours">
    <div class="container">
      <div class="heading">
        <h2>Åpeningstider</h2>
      </div>
      <div class="row">
          <ul class="shed text-center">
            <li class="col-md-12">Mandag - Onsdag <span>11:00 - 01:00</span></li>
            <li class="col-md-12 col-sm-12 col-xs-12">Torsdag - Lørdag<span>11:00 - 02:00</span></li>
          </ul>
          <div class="time text-center col-md-12">
            <span>Lunsj</span>
            <span>Middag</span>
            <span>Kveld</span>
          </div>                          
      </div>
    </div>
	</section>
	
	<section class="contact page-section" id="contact">
    <div class="container">
      <div class="heading">
        <h2>Kontakt oss</h2>	
        <h3>Ta en titt på våre menyer i bildegalleriet, ta gjerne turen innom Fyret og ta en matbit og noe drikke.</h3>
        <div class="content contact-detail text-center">
          <a href="https://goo.gl/maps/uxGPM6bU8i72" target="_blank"><i class="fa fa-map-marker"></i>Youngstorget 6, Oslo, Norway</a> 
          <a href="tel:+4722205182"><i class="fa fa-phone"></i>+47 22 20 51 82</a>
          <a href="mailto:fyretmatogdrikke@gmail.com"><i class="fa fa-envelope"></i>fyretmatogdrikke@gmail.com</a>
        </div>
      </div>
    </div>
	</section>
  
	<!--footer-->
	<section class="footer" id="footer">
	<p class="text-center">
		<a href="#header" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
	</p>
	<div class="container">
		<ul>
      <li>
        <a href="https://www.facebook.com/Fyret-mat-drikke-203160776379957" target="_blank">
          <i class="fa fa-facebook"></i>
        </a></li>
      <li>
        <a href="http://www.tripadvisor.com/Restaurant_Review-g190479-d1134459-Reviews-Fyret-Oslo_Eastern_Norway.html" target="_blank">
          <i class="fa fa-tripadvisor"></i>
        </a>
      </li>
      <li>
        <a href="https://foursquare.com/v/fyret-mat--drikke/4b0588b3f964a520acd422e3" target="_blank">
          <i class="fa fa-foursquare"></i>
        </a>
      </li>
		</ul>
		<p>
      &copy; 2015 Copyright Fyret | Utviklet av <a href="http://www.aveiro.no" target="_blank"><img class="logo" src="img/logo-aveiro-hvit.png" />Aveiro AS</a>
		</p>
	</div>
	</section>
	
</div><!--wrapper end-->

<!--Javascripts-->
<script src="js/jquery.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery-scrolltofixed.js"></script>
<script src="js/jquery.nav.js"></script> 
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/menustick.js"></script> 
<script src="js/easing.js"></script>
<script src="js/wow.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/masonry.js"></script>
<script src="js/imgloaded.js"></script>
<script src="js/classie.js"></script>
<script src="js/gridscroll.js"></script>
<script src="js/custom.js"></script>

<script type="text/javascript">
jQuery(function($) {
$(document).ready( function() {
	$('.navbar-wrapper').stickUp();
	});
});
</script>
</body>
</html>