<section class="service page-section row" id="about">
  <div class="container text-center col-md-12 col-sm-12 col-xs-12">
    <div class="heading">			
      <h2>Om Fyret</h2>			
      <h3>Fyret er en liten gastro pub på Youngstorget i Oslo, som åpnet april 1997,<br>
        og har siden den gang bare blitt mer og mer populært.</h3>
    </div>
    <div class="content">
      <p>Fyret er Norges første og største akevitt bar. Vi har også Hvaler pils 
        på fat samt diverse mikrobrygg.<br>
        Egen akevittsild, laget i samarbeid med sjefsdestillatør 
        i Arcus- Halvor Heuch, Kyvik sild i Haugesund & Køltzow.
      </p>
      <p>Live musikk hver siste mandag i måneden fra kl 20.00</p>
      <blockquote>Husk at din kropp er ikke bare et tempel men også en fornøylsespark!<i class="fa fa-smile-o"></i></blockquote>
    </div>
    <div class="row service">
      <div class="col-md-4 col-xs-12 box-area">
        <div class="box-area-icon">
          <i class="fa fa-users"></i>
        </div>
        <h3>Seteplass</h3>
        <div class="box-area-text"><em>30 sitteplasser</em> ute med nydelig utsikt over Youngstorget<br>
          <em>45 sitteplasser</em> inne.
        </div>
      </div>
      <div class="col-md-4 col-xs-12 box-area">
        <div class="box-area-icon">
          <i class="fa fa-film"></i>
        </div>
        <h3>Burger</h3>
        <div class="box-area-text"><em>Skipperburger</em><br>
          <em>Manolete burger</em> med chorizo og manchego <br>
          <em>Los burger</em> med bløtstekt løk og hjemmelaget gorgonzola dressing <br>
          <em>Lofot burger</em> med steinbitt og med hvalerrøre.
        </div>
      </div>
      <div class="col-md-4 col-xs-12 box-area">
        <div class="box-area-icon">
          <i class="fa fa-cubes"></i>
        </div>
        <h3>Smakfull Mat</h3>
        <div class="box-area-text"><em>Danske smørbrød</em><br> 
          <em>Gascognesalat</em> med anderbryst<br>
          <em>Gulasjsuppe</em> med rømmedott og persille. <br> Vi henviser til større utvalg i vår meny.</div>
      </div>
    </div>
    <a href="img/Fyret_mat_og_drikke_meny.pdf" download="Fyret_mat_og_drikke_meny.pdf" class="meny-dowload"><i class="fa fa-download"></i>Lastned Meny</a>
  </div>
</section>