<section class="footer" id="footer">
  <p class="text-center">
    <a href="#header" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
  </p>
  <div class="container">
    <ul>
      <li>
        <a href="https://www.facebook.com/Fyret-mat-drikke-203160776379957" target="_blank">
          <i class="fa fa-facebook"></i>
        </a></li>
      <li>
        <a href="http://www.tripadvisor.com/Restaurant_Review-g190479-d1134459-Reviews-Fyret-Oslo_Eastern_Norway.html" target="_blank">
          <i class="fa fa-tripadvisor"></i>
        </a>
      </li>
      <li>
        <a href="https://foursquare.com/v/fyret-mat--drikke/4b0588b3f964a520acd422e3" target="_blank">
          <i class="fa fa-foursquare"></i>
        </a>
      </li>
    </ul>
    <p>
      &copy; 2015 Copyright Fyret | Utviklet av <a href="http://www.aveiro.no" target="_blank"><img class="logo" src="img/logo-aveiro-hvit.png" />Aveiro AS</a> 
      | Template: <a href="http://webthemez.com">webthemez</a> 
    </p>
  </div>
</section>