<section class="gallery page-section" id="gallery">
  <div class="container">
    <div class="heading">			
      <h2>Bilde Galleri</h2>			
    </div> 
    <div id="grid-gallery" class="grid-gallery">

      <section class="grid-wrap">
        <ul class="grid">
          <li class="grid-sizer"></li><!-- for Masonry column width -->				
          <li>
            <figure>
              <img src="img/gallery/image1.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image2.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image3.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/middag-4.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image4.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image5.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image6.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image7.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/burger.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image8.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image9.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image10.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image11.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image12.JPG" alt=""/>
            </figure>
          </li>
        </ul>
      </section><!-- // end small images -->

      <section class="slideshow">
        <ul>
          <li>
            <figure>
              <img src="img/gallery/image1.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image2.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image3.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/middag-4.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image4.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image5.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image6.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image7.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/burger.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure class="vertical-image">
              <img src="img/gallery/image8.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image9.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure class="vertical-image">
              <img src="img/gallery/image10.jpg" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image11.JPG" alt=""/>
            </figure>
          </li>
          <li>
            <figure>
              <img src="img/gallery/image12.JPG" alt=""/>
            </figure>
          </li>
        </ul>
        <nav>
          <span class="icon nav-prev"></span>
          <span class="icon nav-next"></span>
          <span class="icon nav-close"></span>
        </nav>

      </section><!-- // end slideshow -->

    </div><!-- // grid-gallery -->
  </div>
</section>