<section class="gallery page-section" id="gallery">
  <div class="container">
    <div class="heading">			
      <h2>Bilde Galleri</h2>			
    </div> 
    <div id="grid-gallery" class="grid-gallery">

      <section class="grid-wrap">
        <ul class="grid">
          <li class="grid-sizer"></li><!-- for Masonry column width -->				
          <% pictures.forEach(function(picture) { %>
          <li>
            <figure>
              <img src="img/gallery/<%= picture %>" alt=""/>
            </figure>
          </li>
          <% }); %>
        </ul>
      </section><!-- // end small images -->

      <section class="slideshow">
        <ul>
          <% first_horizontal_pictures.forEach(function(picture) { %>
            <li>
              <figure>
                <img src="img/gallery/<%= picture %>" alt=""/>
              </figure>
            </li>
          <% }); %>
          <% vertical_pictures.forEach(function(picture) { %>
            <li>
              <figure class="vertical-image">
                <img src="img/gallery/<%= picture %>" alt=""/>
              </figure>
            </li>
          <% }); %>
          <% second_horizontal_pictures.forEach(function(picture) { %>
            <li>
              <figure>
                <img src="img/gallery/<%= picture %>" alt=""/>
              </figure>
            </li>
          <% }); %>
        </ul>
        <nav>
          <span class="icon nav-prev"></span>
          <span class="icon nav-next"></span>
          <span class="icon nav-close"></span>
        </nav>

      </section><!-- // end slideshow -->

    </div><!-- // grid-gallery -->
  </div>
</section>