<header id="header">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="overlay"></div>
    
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
      <li data-target="#bs-carousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
            <img src="img/logo.jpg" alt="logo"/>
            <h1>Fyret mat & drikke</h1>        
            <h3>Norges første og største akevitt bar / gastro pub</h3>
          </hgroup>
          <a class="btn btn-hero btn-lg" href="#about">Om Fyret</a>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">        
          <hgroup>
            <img src="img/logo.jpg" alt="logo"/>
            <h1>En liten gastro pub</h1>        
            <h3>Intimt, lunt og livlig</h3>
          </hgroup>       
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">        
          <hgroup>
            <img src="img/logo.jpg" alt="logo"/>
            <h1>Mye drikke varianter</h1>        
            <h3>Hvaler pils på fat samt diverse mikrobrygg</h3>
            <h4>Per idag 176 akevitt typer samt stort utvalg av armagnac</h4>
          </hgroup>
          <a class="btn btn-hero btn-lg" href="#gallery">Galleri</a>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-4"></div>
        <div class="hero">        
          <hgroup>
            <img src="img/logo.jpg" alt="logo"/>
            <h1>Live blues musikk</h1>
            <h3>Hver siste mandag i måneden</h3>
            <h3>Oppstart kl 20.00</h3>
          </hgroup>
          <a class="btn btn-hero btn-lg" href="#contact">Kontakt Oss</a>
        </div>
      </div>
    </div> 
    <div class="menu">
      <nav class="navbar navbar-wrapper"> 
        <div class="container">
          <div id="main-nav" class="navbar-collapse">
            <ul class="nav navbar-nav">
              <% meny.forEach(function(item) { %>
                <li><a href="#<%= item.id %>" class="scroll-link"><%= item.name %></a></li>
              <% });%>
              <li><a href="img/Fyret_mat_og_drikke_meny.pdf" download="Fyret_mat_og_drikke_meny.pdf" class="meny-dowload"><i class="fa fa-download"></i>Lastned Meny</a></li>
            </ul>
          </div>
        </div>  
      </nav>
    </div>		
</header>