<section class="openingTime page-section" id="openhours">
  <div class="container">
    <div class="heading">
      <h2>Åpeningstider</h2>
    </div>
    <div class="row">
      <ul class="shed text-center">
        <li class="col-md-12">Mandag - Onsdag <span>11:00 - 01:00</span></li>
        <li class="col-md-12 col-sm-12 col-xs-12">Torsdag - Lørdag<span>11:00 - 02:00</span></li>
      </ul>
      <div class="time text-center col-md-12">
        <span>Lunsj</span>
        <span>Middag</span>
        <span>Kveld</span>
      </div>                          
    </div>
  </div>
</section>